---
import { getNews } from "../libs/microcms.ts";
const response = await getNews({ fields: ["id", "title"] });
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro</h1>
		<div class="container">
			<ul class="">
				{
					response.contents.map((news) => (
						<li>
							<a href={news.id}>{news.title}</a>
						</li>
					))
				}
			</ul>
		</div>

		<div class="container">
			<form
			  class="contact_form"
			  name="contact"
			  method="POST"
			  data-netlify="true"
			>
			  <input type="hidden" name="form-name" value="contact" />
			  <div class="contact_item">
				<label for="name">お名前</label>
				<input type="text" id="name" name="name" autocomplete="name" />
			  </div>
			  <div class="contact_item">
				<label for="email">メールアドレス</label>
				<input
				  type="email"
				  id="email"
				  name="email"
				  autocomplete="email"
				/>
			  </div>
			  <div class="contact_item">
				<label for="message">お問い合わせ内容</label>
				<textarea id="message" rows="12" name="message"></textarea>
			  </div>
			  <div class="contact_submit">
				<button type="submit">送信</button>
			  </div>
			</form>
		  </div>

	</body>
</html>

<style lang="scss">
	* {
		margin: 0;
		padding: 0;
	}

	body {
	background-color: #f7f7f7;
	}

	.container {
	width: 84%;
	max-width: 640px;
	margin: 0 auto;
	padding: 30px 0;
	}

	h1 {
	margin-bottom: 30px;
	text-align: center;
	}

	form {
	display: grid;
	row-gap: 30px;
	}

	form > div {
	display: grid;
	}

	input, textarea {
	width: 100%;
	padding: 10px;
	border: solid 1px #dddddd;
	font-size: 16px;
	box-sizing: border-box;
	font-family: inherit;
	font-weight: normal;
	outline: none;
	color: currentColor;
	appearance: none;
	border-radius: 0;
	resize: none;
	}

	button {
	justify-self: start;
	padding: 15px 30px;
	border: solid 1px currentColor;
	font-family: inherit;
	font-size: 16px;
	background-color: blue;
	color: #ffffff;
	cursor: pointer;
	}

	button:hover {
	opacity: 0.7;
	}
</style>
