---
import { getNews } from "../libs/microcms.ts";
const response = await getNews({ fields: ["id", "title"] });
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro</h1>
		<div class="container">
			<ul class="">
				{
					response.contents.map((news) => (
						<li>
							<a href={news.id}>{news.title}</a>
						</li>
					))
				}
			</ul>
		</div>

		<div class="container">
			<h1>お問い合わせ</h1>
			<form name="contact" method="POST" data-netlify="true">
				<div>
					<label for="name">お名前（必須）</label>
					<input name="name" type="text" required />
				</div>
				<div>
					<label for="email">メールアドレス（必須）</label>
					<input name="email" type="email" required />
				</div>
				<div>
					<label for="content">お問い合わせ内容</label>
					<textarea
					name="content"
					rows="10"
					required
					></textarea>
				</div>
				<button type="submit">送信する</button>
			</form>
		</div>

	</body>
</html>

<style lang="scss">
	* {
		margin: 0;
		padding: 0;
	}

	body {
	background-color: #f7f7f7;
	}

	.container {
	width: 84%;
	max-width: 640px;
	margin: 0 auto;
	padding: 30px 0;
	}

	h1 {
	margin-bottom: 30px;
	text-align: center;
	}

	form {
	display: grid;
	row-gap: 30px;
	}

	form > div {
	display: grid;
	}

	input, textarea {
	width: 100%;
	padding: 10px;
	border: solid 1px #dddddd;
	font-size: 16px;
	box-sizing: border-box;
	font-family: inherit;
	font-weight: normal;
	outline: none;
	color: currentColor;
	appearance: none;
	border-radius: 0;
	resize: none;
	}

	button {
	justify-self: start;
	padding: 15px 30px;
	border: solid 1px currentColor;
	font-family: inherit;
	font-size: 16px;
	background-color: blue;
	color: #ffffff;
	cursor: pointer;
	}

	button:hover {
	opacity: 0.7;
	}
</style>
